[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
Lesscpy = "*"
Cssmin = "*"
Jsmin = "*"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Session = "*"
PyMySQL = "*"
Flask-assets = "*"
Dash = "*"
Dash-core-components = "*"
Dash-html-components = "*"
Dash-renderer = "*"
Pandas = "*"
Wtforms = "*"
Redis = "*"
Gunicorn = "*"
Python-dotenv = "*"

[requires]
python_version = "3.7"
