<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{title}}</title>
  <meta name="description" content="Web GUI for connecting to modifying databases & data.">
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/style.css') }}">
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dist/img/favicon@2x.png') }}"
    type="image/x-icon"
  />
  <link rel="stylesheet" href="https://kit.fontawesome.com/feffb0a9eb.css" crossorigin="anonymous" />
  <script>
  var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '5cd6cbb529c7f864a73fa3aa');
      t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
      t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
  })();
  </script>
</head>
