{% extends "layout.jinja2" %}

{% block content %}
  <p class="database-host-name">
      Connected to <span class="database-host" style="font-weight:bold; color:#a2a8b2;">{{ host_name }}.</span>
  </p>
  <p class="database-table-summary">
      Displaying <span style="font-weight:bold;">{{ num_tables }}</span> tables found in database <span style="font-weight:bold;">{{ database_name }}</span>:
  </p>
  <ul>
  {% for table in tables %}
    <li>
        <a href="/table/{{table}}" class="link">{{table}}</a>
    </li>
  {% endfor %}
  </ul>

{% endblock %}
