<!DOCTYPE html>
<html lang="en">

{% include 'head.jinja2' %}

    <body class="{{template}}">
      {% include 'nav.jinja2' %}
      <div class="container">
          {% block content %}{% endblock %}
      </div>
    </body>

</html>
