header {
  position: relative;
  width: 100%;
  margin-bottom: 20px !important;
  padding: 40px 30px !important;
  background: white !important;
  box-shadow: 0 0 5px #bec6cf;
  font-family: Lato, sans-serif;
  @media(max-width: 600px) {
    display: none;
  }

  .nav {
    width: 90%;
    margin: auto;
  }

  a {
    margin-right: 30px;
    color: #70829d;
    text-decoration: none;
    transition: all 0.3s ease-out;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }

    i {
      margin-right: 5px;
    }
  }
}
