

.container {
  margin: 90px 30px;
  color: #182635;
}

#_dash-app-content {
  max-width: 95% !important;
  margin: 90px auto !important;
  overflow: hidden;
}



.dash-spreadsheet-container {
  max-width: 99%;
  margin: 30px auto !important;
  overflow: hidden;
  box-shadow: 0 0 5px #bcceef;
  font-family: 'Lato', sans-serif;

  * {
    box-shadow: none !important;
    font-family: Lato;
  }

  th,
  tr {
    max-width: 200px;
    box-shadow: none !important;
  }

  tr:first-of-type,
  td:first-of-type {
        width: 55px;
  }

  tr:last-of-type,
  td:last-of-type {
        width: 100px;
  }

  th {
    padding: 15px 30px !important;
    padding: 25px 15px !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 1px solid #e5e7eb !important;
    border-left: 0 !important;
    background: white !important;
    color: #404552;

    .column-header--sort {
      margin-right: 5px;
      transition: all .2s ease-out;

      &:hover {
        color: #9bd2eb !important;
      }
    }

    .sort {
      order: 2;
      color: #aeaeae !important;
      transition: all 0.3s ease-out;

      &:hover {
        text-decoration: none;
        cursor: pointer;
        opacity: 0.7;
      }
    }

    & > div {
      display: flex;
      align-items: center;
      width: 100%;

      span:last-of-type {
        font-size: 0.9em;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }

  td {
    padding: 15px !important;
    text-align: left !important;

    &:first-of-type,
    &:last-of-type {
      max-width: 50px !important;
    }

    .dash-cell-value {
      display: inline !important;
      overflow: hidden;
      font-size: 1.2em;
      font-weight: 300;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  tr:nth-child(even) {
    background: #f5f8fc !important;
  }
}

table {

  tbody {
    box-shadow: 0 0 7px #bdbdd2 !important;

    tr {
      border: 0 !important;

      &:nth-child(even) {
        background: #e7eefa !important;
      }

      td {
        max-width: 150px !important;
        padding: 15px 10px !important;
        overflow: hidden !important;
        border: 0 !important;
        font-size: 0.73em !important;
        line-height: 1.25 !important;
        text-align: center !important;
      }
    }
  }
}

.dash-spreadsheet-container .dash-spreadsheet-inner td.focused {
  border: 1px solid #b8d0e4;
  background-color: rgba(154, 212, 255, 0.2) !important;
}

.dash-spreadsheet-container .dash-spreadsheet-inner td .input-cell-value-shadow {
  width: 100%;
}

.dash-spreadsheet-container .dash-spreadsheet-inner td input.dash-cell-value.unfocused {
  caret-color: #317ed1 !important;
}

.dash-spreadsheet-inner .input-active {
  overflow: visible !important;
  color: #829ab2;
  text-align: left !important;
}

.dash-spreadsheet-inner input {
  &::placeholder {
    color: grey;
  }
}
