@import './variables.less';


.table-template {
  margin: 0;

  .dash-spreadsheet-container {
    max-width: 100%;
    margin: 20px auto !important;
    overflow: hidden;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 0 4px #cdd3e2;
    font-family: @body-font;

    * {
      box-shadow: none !important;
      font-family: @body-font;
    }

    th,
    tr {
      box-shadow: none !important;
    }

    td:first-of-type,
    tr:first-of-type {
      width: 55px;
    }

    td:last-of-type,
    tr:last-of-type {
      width: 100px;
    }

    th {
      padding: 25px 15px !important;
      border-top: 0 !important;
      border-right: 0 !important;
      border-bottom: 1px solid #e5e7eb !important;
      border-left: 0 !important;
      background: white !important;
      color: #404552;

      .column-header--sort {
        margin-right: 7px;
        transition: all 0.2s ease-out;

        &:hover {
          color: #9bd2eb !important;
        }

        svg {
          width: 0.5em;
        }
      }

      .sort {
        order: 2;
        color: #aeaeae !important;
        transition: all 0.3s ease-out;

        &:hover {
          text-decoration: none;
          cursor: pointer;
          opacity: 0.7;
        }
      }

      & > div {
        display: flex;
        align-items: center;
        width: fit-content;

        span:last-of-type {
          font-size: 0.85em;
          font-weight: 400;
          text-transform: uppercase;
        }
      }

      &:nth-child(even) {
        background: #f5f8fc !important;
      }
    }

    tr {
      border: 0 !important;

      &:nth-child(even) {
        background: #e7eefa !important;
      }
    }

    td {
      padding: 15px 10px !important;
      overflow: hidden !important;
      border: 0 !important;
      font-size: 0.6em !important;
      line-height: 1.25 !important;
      text-align: center !important;

      &.focused {
        background-color: rgba(154, 212, 255, 0.2) !important;
        box-shadow: 0 0 4px #cdd3e2;
      }

      &.unfocused {
        caret-color: #317ed1 !important
      }

      .input-cell-value-shadow {
        width: 100%;
      }

      .dash-cell-value {
        display: block !important;
        max-width: 500px;
        overflow: hidden !important;
        font-size: 1.2em;
        font-weight: 300;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .column-0 {
      max-width: 80px !important;
    }

    td[data-dash-column="type"] {
      max-width: 70px !important;
    }

    td[data-dash-column="command"] {
      max-width: 200px !important;
    }

    td[data-dash-column="response"] {
      max-width: 400px !important;
      overflow: hidden;
    }

    td[data-dash-column="command"] {
      width: 110px !important;
    }

    td[data-dash-column="index"] {
      text-align: center !important;

      div {
        text-align: center !important;
      }
    }

    td[data-dash-column="index"] {
      color: #939da4;
      font-size: 1.1em;
      font-weight: 500;
    }
  }

  table {
    tbody {
      box-shadow: 0 0 7px #bdbdd2 !important;
    }
  }

  .dash-spreadsheet-inner {
    input {
      &::placeholder {
        color: grey;
      }
    }

    .input-active {
      overflow: visible !important;
      color: #829ab2;
      text-align: left !important;
    }
  }

  .Select-control {
    margin: 0;
    padding: 8px;
    border: 0;
    box-shadow: 0 0 4px #cdd3e2;

    .Select-placeholder {
      height: fit-content;
      margin: auto;
      padding-right: 15px;
      padding-left: 15px;
    }

    .Select-value {
      margin: 0 8px 0 0 !important;

      .Select-value-icon {
        padding: 6px 8px;
      }

      .Select-value-label {
        padding: 7px 13px;
      }
    }
  }

  .Select-menu-outer {
    border: 0;
    box-shadow: 0 0 6px #cdd3e2;

    * {
      width: 100%;
      color: #404552;
    }
  }

  .next-page,
  .previous-page {
    padding: 7px 11px;
    margin: 0 1px;
    font-size: 0.9em;
    font-weight: 300;
    background: #e7f1f2;
    border: 1px solid #b8d6da;
    color: #278296;
    border-radius: 2px;
    transition: all 0.2s ease-out;
    outline-color: transparent;
    outline-style: none;

    &:hover {
      cursor: pointer;
      color: white;
      background: #1c8ba4;
    }
  }

  .dash-delete-cell {
    font-size: 1.3em !important;
  }

  ._dash-undo-redo {
    background-color: rgba(255, 233, 233, 1) !important;
    padding: 10px;
    right: 110px !important;
    left: unset !important;
    width: 40px;
    border: 1px solid pink;
    transition: all 0.2s ease-out;
    border-radius: 2px;

    * {
      color: #4c000d !important;
    }
  }

  #save {
    background-color: #c4e0d7 !important;
    padding: 10px;
    right: 30px !important;
    left: unset !important;
    width: 40px;
    border: 1px solid #b1d1c7;
    transition: all 0.2s ease-out;
    border-radius: 2px;
    position: fixed;
    bottom: 30px;
    text-align: center;

    * {
      color: #738982 !important;
    }
  }
}
